@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

.nivo-caption,
.hero-static-caption {
	background-color: transparent;
	bottom: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	opacity: 1;
	padding: 0;
	position: absolute;
	top: 60%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	z-index: 8;
}

/*-- Hero Video Content --*/
.hero-video-caption {
	background-color: rgba(240, 240, 240, 0.8);
	padding: 250px 0;
}

/*-- Slider Content --*/
.hero-slider-content {
	padding-left: 70px;
}

.hero-slider-content h1 {
	color: #fff;
	font-size: 50px !important;
	line-height: 60px !important;
	font-weight: 700;
	margin-bottom: 10px !important;
	text-align: left !important;
	letter-spacing: 1px;
	/* font-family: "Bubblegum Sans", sans-serif; */
	-moz-text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-slider-content p {
	color:var(--secondary-color) !important;
	font-size: 18px !important;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 28px;
	text-transform: capitalize;
	/* -moz-text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); */
	/* -webkit-text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); */
	/* text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); */
}

.hero-slider-content .p-two {
	color: #fff;
	font-size: 18px !important;
	opacity: 0.9;
	clear: left;
	-moz-text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/*.hero-slider-content span.brdr{ height:2px; background:#f87805; width:50px; float:left;margin: 10px 0 15px;}*/

.hero-slider-content a {
	 width: 150px;
    padding: 17px 15px !important;
    font-size: 15px;
    font-weight: 500;
    display: block;
    position: relative;
    text-align: center;
    color: #fff !important;
    z-index: 1;
    overflow: hidden;
    line-height: 1;
    /* background: linear-gradient(to right, #046da2 0%, #04afae 100%); */
    background:var(--secondary-color);
    border: none;
    border-radius: 5px;
    margin-top: 20px !important;
} 

.hero-slider-content a::before {
	position: absolute;
    content: '';
    background:var(--primary-color);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    z-index: -1;
}

.hero-slider-content a:hover::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1)
}

/*-- Nivo Direction Nav --*/
.nivo-directionNav {}

.nivo-directionNav a {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	color: #fff !important;
	display: block;
	height: 58px;
	margin-top: -29px;
	text-align: center;
	top: 55%;
	width: 58px;
}

.nivo-directionNav a:hover {
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.nivo-directionNav a i {
	display: block;
	font-size: 24px;
	line-height: 58px;
}

.nivo-prevNav {
	left: 30px;
}

.nivo-nextNav {
	right: 30px;
}

@media only screen and (min-width:320px) and (max-width:767px) {

	.nivo-caption,
	.hero-static-caption {
		top: 52%;
	}

	.hero-slider-content .p-one {
		font-size: 12px !important;
		line-height: 24px;
		margin-bottom: 0 !important;
	}

	.hero-slider-content {
		padding-left: 0px;
	}

	.hero-slider-content h1 {
		font-size: 19px !important;
		line-height: 28px !important;
		margin-bottom: 5px !important;
	}

	.hero-slider-content p {
		font-size: 15px !important;
		line-height: 20px;
	}

	.hero-slider-content h1 br {
		display: none;
	}

	.hero-slider-content span.brdr {
		width: 50px;
		margin: 7px 0 10px;
		height: 1px;
	}

	.nivo-directionNav a i {
		display: none;
	}

	.nivo-directionNav a {
		display: none;
	}

	.hero-slider-content a {
		min-width: 120px;
		font-size: 12px;
		line-height: 20px;
		padding: 10px 10px !important;
		margin-top: 10px !important;
	}

	.nivoSlider {
		top: 1px;
		height: 220px !important;
	}

	.nivoSlider img {
		height: 220px !important;
	}

	.hero-slider-content .p-two {
		font-size: 15px !important;
	}

	.nivo-controlNav {
		top: 45%;
		right: 20px;
		display: none;
	}
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.hero-slider-content .p-one {
		font-size: 12px !important;
		line-height: 24px;
	}

	.nivo-caption,
	.hero-static-caption {
		top: 53%;
	}

	/* .hero-slider-content {
		padding-left: 110px;
	} */

	.hero-slider-content h1 {
		font-size: 30px !important;
		line-height: 35px !important;
		margin-bottom: 10px !important;
	}

	.hero-slider-content p {
		font-size: 17px !important;
		line-height: 24px;
	}

	.hero-slider-content span.brdr {
		width: 50px;
		margin: 7px 0 10px;
	}

	.hero-slider-content a {
		min-width: 135px;
		font-size: 14px;
		line-height: 20px;
		padding: 10px 10px !important;
		margin-top: 5px !important;
	}

	.nivo-directionNav a {
		height: 48px;
		width: 48px;
		top: 60%;
	}

	.nivo-directionNav a i {
		line-height: 48px;
	}

	/*  */
	.nivo-controlNav li a {
		font-size: 13px !important;
	}

	.nivo-controlNav a.active {
		font-size: 15px !important;
	}

	.nivo-controlNav li a::after {
		height: 17px;
		top: 25px;
	}

	.nivo-controlNav li {
		margin-bottom: 33px !important;
	}

	.nivo-controlNav {
		top: 54%;
		left: 89px;
	}

	.hero-slider-content {
		padding-left: 0px;
	}
}

@media only screen and (min-width:992px) and (max-width:1199px) {

	.nivo-caption,
	.hero-static-caption {
		top: 45%;
	}
	.hero-slider-content {
		padding-left: 30px;
	}

	
	/* .hero-slider-content {
		padding-left: 120px;
	} */

	.hero-slider-content .p-one {
		font-size: 13px !important;
		line-height: 22px;
	}

	.hero-slider-content h1 {
		font-size: 37px !important;
		line-height: 47px !important;
	}

	.hero-slider-content p {
		font-size: 19px !important;
		line-height: 26px;
	}

	.hero-slider-content a {
		padding: 13px 20px;
		min-width: 140px;
		margin-top: 8px !important;
	}

	.nivo-controlNav {
		top: 58%;
		left: 95px;
	}

	.hero-slider-content span.brdr {
		width: 50px;
		margin: 6px 0 10px;
	}

	.nivo-directionNav a {
		height: 50px;
		width: 50px;
	}

	.nivo-directionNav a i {
		line-height: 50px;
	}

	.nivo-controlNav li a {
		font-size: 14px !important;
	}

	.nivo-controlNav a.active {
		font-size: 16px !important;
	}

	.nivo-controlNav li a::after {
		height: 18px;
	}

	.nivo-controlNav li {
		margin-bottom: 36px !important;
	}

	/*  */
}